{% extends 'base.html' %}

{% block title %}Resetowanie hasła{% endblock %}

{% block content %}
    <div class="col-8 offset-2 text-center mb-5 pb-5">
        <h1>Zapomniałeś hasła?</h1>
        <p class="mt-3">Wpisz swój adres e-mail poniżej, a my wyślemy e-mailem instrukcje dotyczące ustawienia nowego.</p>

        <form method="POST">
            <div class="col-8 offset-2 mt-5">
                {% csrf_token %}
                {{ form.as_p }}
            </div>
            <div class="col-4 offset-4 mb-5 ">
                <button type="submit" class="btn btn-outline-info pr-4 pl-4">Zmień</button>
            </div>
      </form>
    </div>
{% endblock %}